/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Start Variables */
:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-para: hsla(0, 0%, 100%, 0.75);
  --background-heading-btn: hsl(0, 0%, 95%);
}

/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lexend Deca", sans-serif;
}
body::-webkit-scrollbar {
  width: 12.5px;
}
body::-webkit-scrollbar-thumb {
  background: #1e1fcd;
}

body::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

/* Container */
main {
  background-color: var(--background-heading-btn);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.container {
  width: 750px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  border-radius: 8px;
  overflow: hidden;
}

/* Start Styling */
.item {
  padding: 40px 30px;
}
.item img {
  width: 50px;
  margin-bottom: 20px;
}
.item h2 {
  font-family: "Big Shoulders Display", sans-serif;
  color: var(--background-heading-btn);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.item p {
  margin-bottom: 65px;
  color: var(--Transparent-white-para);
  font-size: 14px;
  line-height: 1.5;
}
.item a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 70%;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  border: 2px solid #fff;
  background-color: var(--background-heading-btn);
  transition: 0.2s;
}

.item-1 {
  background-color: var(--Bright-orange);
}
.item-1 a {
  color: var(--Bright-orange);
}
.item-1 a:hover {
  color: #fff;
  background-color: var(--Bright-orange);
}
.item-2 {
  background-color: var(--Dark-cyan);
}
.item-2 a {
  color: var(--Dark-cyan);
}
.item-2 a:hover {
  color: #fff;
  background-color: var(--Dark-cyan);
}
.item-3 {
  background-color: var(--Very-dark-cyan);
}
.item-3 a {
  color: var(--Very-dark-cyan);
}
.item-3 a:hover {
  color: #fff;
  background-color: var(--Very-dark-cyan);
}

/* Start Media */
@media (max-width: 800px) {
  .container {
    max-width: 250px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }
}
